<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>PDF Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}" />
</head>
<body style="font-size: 16px">
<h1>Create new PDF File</h1>
<form th:action="@{/generatepdf}" th:object="${PdfRequest}" method="post">
    <p>Action Type: <br>
        || Change: <input type="radio" name="action1" th:field="*{actionType}" value="change">
        || Restoration: <input type="radio" name="action1" th:field="*{actionType}" value="restoration">
        || Legalization: <input type="radio" name="action1" th:field="*{actionType}" value="legalization"
                                th:checked="true"> || </p>
    <p>Reading Method: <br>
        || Local: <input type="radio" name="action2" th:field="*{readingMethod}" value="local">
        || Radio: <input type="radio" name="action2" th:field="*{readingMethod}" value="radio">
        || Auto: <input type="radio" name="action2" th:field="*{readingMethod}" value="auto" th:checked="true"> ||</p>

    <p> Address: <input style="height: 22px" type="text" th:field="*{address}" />

    <p>Date:  <input style="height: 22px" type="date" id="date" name="date" th:field="*{date}">
    Energy readings: <input style="height: 22px" size="8px" type="text" th:field="*{energyBefore}" />
    Water readings: <input style="height: 22px" size="8px" type="text" th:field="*{waterBefore}" />
    Flow converter readings: <input style="height: 22px" size="8px" type="text" th:field="*{flowConverterBefore}" /></p>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label> Installed Meter:</label>
        <select  th:field="*{meterInstalled}">
            <option value="">select type</option>
            <option th:each="option : ${meters}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Installed Meter S/N: <input style="height: 22px" size="8px" type="text" th:field="*{meterInstalledSerialNumber}" /><br>
        <label> Installed Meter Prod.Year:</label>
        <select th:field="*{meterInstalledProductionYear}">
            <option th:each="year : ${#numbers.sequence(2003, #dates.year(#dates.createNow()))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select><br>
        Installed Meter RadioAdr: <input style="height: 22px" size="6px" type="text" th:field="*{meterInstalledRadioAddress}" /><br>
        <label> Dismantled Meter Imp.:</label>
        <select  th:field="*{meterInstalledImpulse}">
            <option value="">select impulse</option>
            <option th:each="option : ${impulse}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label> Installed Meter Legalization Date:</label>
        <select th:field="*{meterInstalledLegalizationYear}">
            <option th:each="year : ${#numbers.sequence(T(org.example.domain.DateUtils).addYearsToCurrent(-1), T(org.example.domain.DateUtils).addYearsToCurrent(5))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <select th:field="*{meterInstalledLegalizationMonth}">
            <option th:each="month : ${#numbers.sequence(1, 12)}"
                    th:value="${month < 10 ? '0' + month : month}" th:text="${month < 10 ? '0' + month : month}">
            </option>
        </select></div>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label> Dismantled Meter:</label>
        <select  th:field="*{meterDismantled}">
            <option value="">select type</option>
            <option th:each="option : ${meters}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Dismantled Meter S/N: <input style="height: 22px" size="8px" type="text" th:field="*{meterDismantledSerialNumber}" /><br>
        <label> Dismantled Meter Prod.Year:</label>
        <select th:field="*{meterDismantledProductionYear}">
            <option th:each="year : ${#numbers.sequence(2003, #dates.year(#dates.createNow()))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select><br>
        Dismantled Meter RadioAdr: <input style="height: 22px" size="6px" type="text" th:field="*{meterDismantledRadioAddress}" /><br>
        <label> Dismantled Meter Imp.:</label>
        <select  th:field="*{meterDismantledImpulse}">
            <option value="">select impulse</option>
            <option th:each="option : ${impulse}" th:value="${option}" th:text="${option}" ></option>
        </select></div><br>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label>Installed FlowConverter:</label>
        <select th:field="*{flowMeterInstalled}">
            <option value="">select type</option>
            <option th:each="option : ${flowMeters}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Installed FlowConverter S/N: <input style="height: 22px" size="8px" type="text" th:field="*{flowMeterInstalledSerialNumber}" /><br>
        <label>Installed FlowConverter Prod.Year:</label>
        <select th:field="*{flowMeterInstalledProductionYear}">
            <option th:each="year : ${#numbers.sequence(2003, #dates.year(#dates.createNow()))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select><br>
        <label>Installed FlowConverter Qn:</label>
        <select th:field="*{flowMeterInstalledQN}">
            <option value="">select Qn</option>
            <option th:each="option : ${qN}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Installed FlowConverter DN:</label>
        <select th:field="*{flowMeterInstalledDN}">
            <option value="">select DN</option>
            <option th:each="option : ${dN}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Installed FlowConverter Imp:</label>
        <select th:field="*{flowMeterInstalledImpulse}">
            <option value="">select impulse</option>
            <option th:each="option : ${impulse}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Installed FlowConverter Legalization Date:</label>
        <select th:field="*{flowMeterInstalledLegalizationYear}">
            <option th:each="year : ${#numbers.sequence(T(org.example.domain.DateUtils).addYearsToCurrent(-1), T(org.example.domain.DateUtils).addYearsToCurrent(5))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <select th:field="*{flowMeterInstalledLegalizationMonth}">
            <option th:each="month : ${#numbers.sequence(1, 12)}"
                    th:value="${month < 10 ? '0' + month : month}" th:text="${month < 10 ? '0' + month : month}">
            </option>
        </select>
    </div>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label>Dismantled FlowConverter:</label>
        <select th:field="*{flowMeterDismantled}">
            <option value="">select type</option>
            <option th:each="option : ${flowMeters}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Dismantled FlowConverter S/N: <input style="height: 22px" size="8px" type="text" th:field="*{flowMeterDismantledSerialNumber}" /><br>
        <label>Dismantled FlowConverter Prod.Year:</label>
        <select th:field="*{flowMeterDismantledProductionYear}">
            <option th:each="year : ${#numbers.sequence(2003, #dates.year(#dates.createNow()))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select><br>
        <label>Dismantled FlowConverter Qn:</label>
        <select th:field="*{flowMeterDismantledQN}">
            <option value="">select Qn</option>
            <option th:each="option : ${qN}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Dismantled FlowConverter DN:</label>
        <select th:field="*{flowMeterDismantledDN}">
            <option value="">select DN</option>
            <option th:each="option : ${dN}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Dismantled FlowConverter Imp:</label>
        <select th:field="*{flowMeterDismantledImpulse}">
            <option value="">select impulse</option>
            <option th:each="option : ${impulse}" th:value="${option}" th:text="${option}" ></option>
        </select></div>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label>Installed Temp Sensor PT</label>
        <select th:field="*{tempSensorInstalledPT}">
            <option value="">select PT</option>
            <option th:each="option : ${sensorPT}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Temp Sensor Type</label>
        <select th:field="*{tempSensorInstalledType}">
            <option value="">select type</option>
            <option th:each="option : ${sensorType}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Installed TempSensor S/N: <input style="height: 22px" size="8px" type="text" th:field="*{tempSensorInstalledSerialNumber1}" /><br>
        Installed TempSensor Prod.Year: <input style="height: 22px" size="8px" type="text" th:field="*{tempSensorInstalledProductionYear}" />
        <br>
        Installed TempSensor Legalization Year:
        <select th:field="*{tempSensorInstalledLegalizationYear}">
            <option th:each="year : ${#numbers.sequence(T(org.example.domain.DateUtils).addYearsToCurrent(-1), T(org.example.domain.DateUtils).addYearsToCurrent(5))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <select th:field="*{tempSensorInstalledLegalizationMonth}">
            <option th:each="month : ${#numbers.sequence(1, 11)}"
                    th:value="${month < 10 ? '0' + month : month}" th:text="${month < 10 ? '0' + month : month}">
            </option>
        </select>
    </div>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div><label>Dismantled Temp Sensor PT</label>
        <select th:field="*{tempSensorDismantledPT}">
            <option value="">select PT</option>
            <option th:each="option : ${sensorPT}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        <label>Temp Sensor Type</label>
        <select th:field="*{tempSensorDismantledType}">
            <option value="">select type</option>
            <option th:each="option : ${sensorType}" th:value="${option}" th:text="${option}" ></option>
        </select><br>
        Dismantled TempSensor S/N: <input style="height: 22px" size="8px" type="text" th:field="*{tempSensorDismantledSerialNumber1}" /><br>
        Dismantled TempSensor Prod.Year: <input style="height: 22px" size="8px" type="text" th:field="*{tempSensorDismantledProductionYear}" />
    </div>
    <p><b>_______________________________________________________________________________________________________</b></p>
    <div>
        Other action services: <input style="height: 22px" size="40px" type="text" th:field="*{otherActionsService}" />
        <br><p><b>_______________________________________________________________________________________________________</b></p>

        Energy readings after: <input style="height: 22px" size="8px" type="text" th:field="*{energyAfter}" />
        Water readings after: <input style="height: 22px" size="8px" type="text" th:field="*{waterAfter}" />
        Flow converter readings after: <input style="height: 22px" size="8px" type="text" th:field="*{flowConverterAfter}" />
    </div>
    <p><input type="submit" value="Submit" />
        <button type="button" onclick="window.location.href='/files'">Show files</button>
        <br><br><br><br><br><br><br><input type="reset" value="Reset" /></p>
</form>
</body>
</html>